@import '../../../../../public/styles/variables';

.product-slider-featured {
  position: relative;

  .swiper {
    padding: 4px 2px 10px 2px;
  }

  .swiper-slide {
    height: auto;
    padding: 0 0;
  }

  .swiper-button-prev {
    left: 4px !important;
  }

  .swiper-button-next {
    right: 4px !important;
  }
}

@media (max-width: 767.98px) {
  .product-slider-featured {
    .swiper {
      padding: 2px 0 8px;
      overflow: hidden;
    }
  }
}
