$sizeBorderRadiusItem: 12px;
$primary-color: #4096ff;
$color-white: #fff;
$color-black: #000;
$color-gray: #888;
$color-gray2: #333;
$color-blue: #3b82f6;
$color-blue2: #bfdbfe;
$color-blue3: #7dd3fc;
$color-red: #d93843;
$color-red2: #e01020;
$color-orange: #f59e0b;
