body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul li {
  list-style: none;
}

.admin-title {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.admin-heading {
  font-size: 16px;
}

@mixin custom-btn($bg-color, $hover-color: darken($bg-color, 10%)) {
  background: $bg-color;
  color: #fff;
  border-color: $bg-color;

  &:hover {
    background: $hover-color !important;
    border-color: $hover-color !important;
    color: #fff !important;
  }
}

.custom-btn-orange {
  @include custom-btn(#ff8904, #f4a244);
}

.custom-btn-blue {
  @include custom-btn(#39df55, #5ff478);
}
