@import '../../../public/styles/variables';

.header {
  padding: 10px 0;
  background-color: $color-white;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  &__logo {
    width: 45px;
    margin-left: 48px;
    &--wrap {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }
    &__name {
      &--first,
      &--second {
        color: $color-black;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 0.24;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }
      &--second {
        font-weight: 400;
      }
    }
  }
  &__action {
    display: flex;
    justify-content: flex-end;
    margin-right: 48px;
    column-gap: 7px;
    &__search,
    &__cart,
    &__account {
      &--btn,
      & ul,
      &--btn--clear {
        width: 50px;
        height: 50px;
        border: none !important;
        background-color: transparent;
        box-shadow: none;
        transition: color 0.1s;
      }
    }
    &__search,
    &__cart,
    &__account {
      &--btn:hover,
      &--btn--clear:hover,
      &--btn:active,
      &--btn:focus-visible,
      &--btn:hover .header__action__cart--icon {
        background: transparent !important;
        outline: none !important;
        outline-offset: 0 !important;
        cursor: pointer;
        color: $primary-color;
        transition: color 0.1s;
      }
    }
    &__search {
      display: flex;
      align-items: center;
      &--wrap {
        height: 40px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-radius: 99px;
        background: #1618230f;
      }
      &--input,
      &--btn {
        background: transparent !important;
        outline: none !important;
        border: none !important;
      }
      &--input {
        padding: 0 0 1px 0;
        &:focus,
        &:focus-within {
          outline: none !important;
          border: none !important;
          box-shadow: none !important;
        }
      }
      &--input:not(:placeholder-shown) ~ &--btn {
        color: $primary-color;
      }
      &--btn {
        height: 40px;
        border-radius: 0 99px 99px 0;
        cursor: pointer;
        &:hover {
          background: #16182308 !important;
        }
      }
    }
  }
  &__nav {
    &__list {
      display: flex;
      justify-content: center;
      margin: 0;
    }
    &__item {
      & a {
        display: inline-block;
        color: #000;
        font-size: 1rem;
        font-weight: 500;
        transition: color 0.1s;
        padding: 8px 16px;
        position: relative;
        &::after {
          content: '';
          display: inline-block;
          width: 0;
          height: 2px;
          position: absolute;
          left: 16px;
          bottom: 0;
          background-color: $primary-color;
          transition: 0.1s;
        }
        &:hover {
          color: $primary-color;
          transition: color 0.1s;
          &::after {
            width: calc(100% - 32px);
            transition: 0.1s;
          }
        }
        &.active {
          color: $primary-color;
          transition: color 0.1s;
          &::after {
            width: calc(100% - 32px);
          }
        }
      }
    }
  }
}

.layout-default {
  &__sider {
    height: 88vh;
    position: fixed;
    top: 100px;
    z-index: 999;
    overflow: auto;
    padding: 0 4px;
    background-color: $color-white;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #e9e9e9;
      border-radius: 99px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #dfdfdf;
      cursor: pointer;
    }
  }
  &__body {
    padding-top: 30px;
    background-color: $color-white;
  }
  &__body--sub {
    background-color: $color-white;
  }
  &__content {
    margin-left: 250px;
    background-color: $color-white;
    padding: 0 60px;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}
